
.Rproj.user/shared/notebooks/paths
.Rproj.user/5E33237E/sources/s-3A7F874F/CB9D381-contents
.Rproj.user/5E33237E/sources/prop/INDEX
.Rproj.user/5E33237E/sources/prop/EBE6A19
.Rproj.user/5E33237E/sources/prop/E105FF16
.Rproj.user/5E33237E/pcs/workbench-pane.pper
.Rproj.user/5E33237E/pcs/windowlayoutstate.pper
.Rproj.user/5E33237E/pcs/source-pane.pper
.Rproj.user/5E33237E/pcs/files-pane.pper
.Rproj.user/5E33237E/pcs/debug-breakpoints.pper
.Rproj.user/5E33237E/console06/INDEX001
.Rhistory
.RData
.Rproj.user/5E33237E/rmd-outputs
.Rproj.user/5E33237E/saved_source_markers
.Rproj.user/5E33237E/sources/prop/8586F120
.Rproj.user/5E33237E/sources/prop/9A0BEEEA
.Rproj.user/5E33237E/sources/s-3A7F874F/CB9D381-contents
.Rproj.user/5E33237E/sources/s-AEA74BA8/37AA5101-contents
.Rproj.user/5E33237E/sources/s-AEA74BA8/3F364B8A-contents
.Rproj.user/5E33237E/sources/s-AEA74BA8/83D2AF32
.Rproj.user/5E33237E/sources/s-AEA74BA8/83D2AF32-contents
.Rproj.user/5E33237E/sources/s-AEA74BA8/CD9C5EA6
.Rproj.user/5E33237E/sources/s-AEA74BA8/CD9C5EA6-contents
.Rproj.user/5E33237E/sources/s-AEA74BA8/lock_file
